region = "us-east-1"
vpc_id = "vpc-xxxxxxxx"
vpc_cidr_block = "10.0.0.0/16"
subnet_id = "subnet-xxxxxxxx"
instance_type = "t3.small"
ssm_parameter_name = "/ibg/credentials"
tws_userid = "YOUR_TWS_USERNAME"
tws_password = "YOUR_TWS_PASSWORD"
trading_mode = "live"
